<mat-nav-list>
    <div class="profile-card">
        <div class="header">

            <h2 class="mat-h2">sumit</h2>
            <h4 class="mat-h4">ssumit@email.com</h4>
        </div>
        <img src="https://thumbs.dreamstime.com/b/autumn-oak-leaf-fantastic-beautiful-spray-bubbles-blue-background-magic-autumn-blue-background-yellow-oak-leaf-158238643.jpg" alt="img">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/s">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/posts">UserList</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Tables</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Devices</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        DeviceId
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        DeviceLocation
    </a>

</mat-nav-list>
