.mat-elevation-z8 {
  width: 90%;
  margin: auto;
  // border-radius: 10px !important;

}
table{
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}
table{
  border: 1px solid black;
 color:  #212529 !important;
 /* margin-bottom: 1rem; */
 border-color: grey;
}

.cell{
  color: #9c27b0 !important;
}

